@model TrekAdvisor.Models.HotelModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HotelModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StarRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StarRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutsidePhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutsidePhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsidePhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsidePhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutsideWidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutsideWidth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutsideHeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutsideHeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutsideContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutsideContentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsideWidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsideWidth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsideHeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsideHeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsideContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsideContentType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HotelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
