@model TrekAdvisor.Models.HotelModel

@{
    ViewData["Title"] = "Index";
}



<div class="hotel_main">
    <div class="hotel_main_info">
        <h2>@Model.HotelName</h2>
        <h5>@Model.City, @Model.State</h5>
        <h5>@Model.StarRating star hotel</h5>
        <a asp-controller="Home" asp-action="Index">Return to Main Index</a>
    </div>

    <img src="/uploads/images/@Model.OutsidePhoto" alt="http://via.placeholder.com/225x200">
    <img src="/uploads/images/@Model.InsidePhoto" alt="http://via.placeholder.com/225x200">
    <div class="map"></div>
    <script type="text/javascript">
        function initMap() {
            var geocoder = new google.maps.Geocoder();

            var address = "@Model.StreetAddress @Model.StreetName, @Model.City, @Model.State";

            geocoder.geocode({'address':address}, function(results, status) 
            {
             
                if(status == google.maps.GeocoderStatus.OK) 
                {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    console.log(latitude, longitude)
                    var map = new google.maps.Map(document.querySelector('.map'), {
                        zoom: 15,
                        center: {lat:latitude, lng:longitude}
                    });
                    var marker = new google.maps.Marker({
                        position: {lat:latitude, lng:longitude},
                        map: map
                    });

                }
            })
        
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXvZc0qtppJrUc9kDyTM8IEXXbNdag0_E&callback=initMap">
    </script>
    
</div>

<div class="reviews">
    @foreach(var review in Model.Reviews)
    {
        <div class="review">
            <hr>
            <h3>@review.Title</h3>
            <h5>@review.ApplicationUser.UserName</h5>
            <h5>Stayed in @review.DateOfStay</h5>
            <h5>Reviewed on @review.DatePosted</h5>
            <p>@review.Body</p>
        </div>
    }

</div>
@if(User.Identity.IsAuthenticated) {
<hr>
<div class="review_form">
    <h4>Write a review!</h4>
    <form asp-controller="Review" asp-action="Create" asp-route-id=@Model.HotelID asp-method=POST>
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="dateofstay" placeholder="When did you stay?">
        <textarea name="body"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
}